@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply font-mono bg-dark text-gray-7;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
